<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content" th:remove="tag">
        <div th:if="${listCategoryParents != null && !listCategoryParents.empty}">
            <div class="row">
                <div class="col">
                    <nav>
                        <ol style="list-style-type: none" class="breadcrumb-custom">

                            <li class="breadcrumb-item-custom">
                                <a class="sorting-category text-green" th:href="@{/}">Home</a>
                                <div class="sub-categories">
                                    <th:block th:each="rootCat : ${listRootCategories}">
                                        <a th:if="${rootCat.enabled == true}" th:href="@{'/c/' + ${rootCat.alias}}" class="sorting-category text-green-dark" th:text="${rootCat.name}"></a><br>
                                    </th:block>
                                </div>
                            </li>

                            <th:block th:each="parent : ${listCategoryParents}">
                                <li class="breadcrumb-item-custom">
                                    <a class="sorting-category text-green" th:href="@{'/c/' + ${parent.alias}}">[[${parent.name}]]</a>
                                    <div class="sub-categories">
                                        <th:block th:each="cat : ${parent.children}">
                                            <a th:if="${cat.enabled == true}" th:href="@{'/c/' + ${cat.alias}}" class="sorting-category text-green-dark" th:text="${cat.name}"></a><br>
                                        </th:block>
                                    </div>
                                </li>
                            </th:block>
                            <li class="breadcrumb-item-custom" th:if="${product != null}">
                                <span>[[${product.name}]]</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="content2" th:remove="tag">
        <div class="row">
            <div class="col">
                <nav>
                    <ol style="list-style-type: none" class="breadcrumb-custom">

                        <li class="breadcrumb-item-custom">
                            <a class="sorting-category text-green" th:href="@{/}">Home</a>
                            <div class="sub-categories">
                                <th:block th:each="rootCat : ${listRootCategories}">
                                    <a th:if="${rootCat.enabled == true}" th:href="@{'/c/' + ${rootCat.alias}}" class="sorting-category text-green-dark" th:text="${rootCat.name}"></a><br>
                                </th:block>
                            </div>
                        </li>

                        <th:block th:each="parent : ${listCategoryParents}">
                            <li class="breadcrumb-item-custom">
                                <a class="sorting-category text-green" th:href="@{'/c/' + ${parent.alias}}">[[${parent.name}]]</a>
                                <div class="sub-categories">
                                    <th:block th:each="cat : ${parent.children}">
                                        <a th:if="${cat.enabled == true}" th:href="@{'/c/' + ${cat.alias}}" class="text-green" th:text="${cat.name}"></a><br>
                                    </th:block>
                                </div>
                            </li>
                        </th:block>
                        <li class="breadcrumb-item-custom" th:if="${product != null}">
                            <span style="color: #0c9669">[[${product.name}]]</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

</body>
</html>