<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" class="modal fade text-center" id="returnOrderModal">
    <div class="modal-dialog">
        <div class="modal-content" style="background: #302c54">
            <div class="modal-header">
                <h4 class="modal-title" id="returnOrderModalTitle" style="color: #1deba8">Return Order</h4>
                <button type="button" class="close" data-dismiss="modal" style="color: #1deba8">&times;</button>
            </div>

            <form onsubmit="return submitReturnOrderForm();">
                <div class="modal-body" style="color: white">
                    <div id="divReason">
                        <div class="h5" style="text-align: left; margin-left: 35px">Reason:</div>
                        <div style="text-align: left; margin-left: 35px">
                            <input type="radio" name="returnReason" value="I bought the wrong items" required>
                            &nbsp;
                            <span style="vertical-align: top">I bought the wrong items</span>
                        </div>
                        <div style="text-align: left; margin-left: 35px">
                            <input type="radio" name="returnReason" value="I received the wrong items">
                            &nbsp;
                            <span style="vertical-align: top">I received the wrong items</span>
                        </div>
                        <div style="text-align: left; margin-left: 35px">
                            <input type="radio" name="returnReason" value="The product was damaged/defective">
                            &nbsp;
                            <span style="vertical-align: top">The product was damaged/defective</span>
                        </div>
                        <div style="text-align: left; margin-left: 35px">
                            <input type="radio" name="returnReason" value="The product arrived too late">
                            &nbsp;
                            <span style="vertical-align: top">The product arrived too late</span>
                        </div>
                        <div>&nbsp;&nbsp;</div>
                        <div>
                            <textarea class="form-control" id="returnNote" rows="4" maxlength="120"
                                      style="width: 400px; margin: 0 auto; display: block" placeholder="Add Notes..."></textarea>
                        </div>
                    </div>
                    <div id="divMessage" class="text-center">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-green" id="firstButton">Send Request</button>
                    <button type="button" class="btn btn-outline-orange" id="secondButton" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>