<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Shopping Cart', 'none')">

</head>
<body>

<div class="container-fluid">
    <div th:replace="fragment_navigation :: header_menu"></div>
    <br>

    <div>
        <h1>Checkout</h1>
    </div>
    <br>

    <div th:replace="fragment_navigation :: search_nav"></div>
    <br>

    <div class="row m-1">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-header"><h5>Shipping Information</h5></div>
                <div class="card-body">
                    <div>
                        <b>Ship to:</b>&nbsp;[[${shippingAddressName}]]
                    </div>
                    <div>
                        [[${shippingAddressAddress}]]
                    </div>
                    <div>
                        [[${shippingAddressPostCodeAndPhoneNumber}]]
                    </div>
                    <div>
                        <a style="color: #d79e12; text-decoration: none" th:href="@{/address_book(redirect=checkout)}">[Ship to another address]</a>
                    </div>
                    <br>
                    <div>
                        <b>Days to deliver:</b>&nbsp;[[${checkoutInfo.deliverDays}]] days(s)
                    </div>
                    <div>
                        <b>Expected deliver date:</b>&nbsp;[[${#dates.format(checkoutInfo.deliverDate, 'E, dd MMM yyyy')}]]
                    </div>
                </div>
            </div>

            <div class="card mt-3 mb-3">
                <div class="card-header"><h5>Payment Method</h5></div>
                <div class="card-body">
                    <div th:if="${checkoutInfo.codSupported}">
                        <form th:action="@{/place_order}" method="post">
                            <p>
                                <input type="radio" name="paymentMethod" id="radioCOD" value="COD" /> Cash on Delivery (COD)
                                &nbsp;
                                <button class="btn btn-outline-red d-none" type="submit" id="buttonSubmit">Place Order with COD</button>
                            </p>
                        </form>
                    </div>

                    <div id="paypal-button-container">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="card">
                <div class="card-header"><h5>Order Summary</h5></div>
                <div class="card-body">
                    <div>
                        <table>
                            <th:block th:each="item : ${cartItems}">
                            <tr>
                                <td width="10%" style="color: black">[[${item.quantity}]] x</td>
                                <td width="50%" style="color: black">
                                    <a th:href="@{'/p/' + ${item.product.alias}}" target="_blank">[[${item.product.shortName}]]</a>
                                    <br>
                                    <small>Ship: <div th:replace="fragments :: format_currency(${item.shippingCost})"></div></small>
                                </td>
                                <td style="color: black">
                                    <div th:replace="fragments :: format_currency(${item.subtotal})"></div>
                                </td>
                            </tr>
                            </th:block>
                        </table>
                        <br>
                        <div class="row mt-2">
                            <div class="col">
                                Product Total:
                            </div>
                            <div class="col">
                                <div th:replace="fragments :: format_currency(${checkoutInfo.productTotal})"></div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                Shipping Total:
                            </div>
                            <div class="col">
                                <div th:replace="fragments :: format_currency(${checkoutInfo.shippingCostTotal})"></div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                Payment Total:
                            </div>
                            <div class="col">
                                <b><div th:replace="fragments :: format_currency(${checkoutInfo.paymentTotal})"></div></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div th:replace="fragment_navigation :: footer_menu"></div>

</div>

<script th:src="@{https://www.paypal.com/sdk/js(client-id=${paypalClientId}, currency=${currencyCode})}"></script>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";

    $(document).ready(function () {
        $("#radioCOD").on("click", function () {
            $("#buttonSubmit").removeClass("d-none");
        });
    });

    paypal.Buttons({
        enableStandardCardFields: true,
        createOrder: function (data, actions) {
            // set up a transaction
            return actions.order.create({
                intent: 'CAPTURE', // make payment immediately
                payer: {
                    name: {
                        given_name: "[[${customer.firstName}]]",
                        surname: "[[${customer.lastName}]]"
                    },
                    address: {
                        address_line_1: "[[${customer.addressLine1}]]",
                        address_line_2: "[[${customer.addressLine2}]]",
                        admin_area_1: "[[${customer.state}]]",
                        admin_area_2: "[[${customer.city}]]",
                        postal_code: "[[${customer.postCode}]]",
                        country_code: "[[${customer.country.code}]]"
                    },
                    email_address: "[[${customer.email}]]",
                    phone: {
                        phone_type: "MOBILE",
                        phone_number: {
                            national_number: "[[${customer.phoneNumber}]]"
                        }
                    }
                },
                purchase_units: [{
                    amount: {
                        value: "[[${checkoutInfo.paymentTotalForPayPal}]]",
                        currency_code: "[[${currencyCode}]]"
                    }
                }],
                application_context: {
                    shipping_preference: "NO_SHIPPING"
                }
            });
        },

        onApprove: function (data, actions) {
            // buyer approved payment
            return actions.order.capture().then(function(details) {
                console.log(details);
                orderId = details.id;
                totalAmount = details.purchase_units[0].amount.value;

                alert("Transaction completed. Order ID: " + orderId + ". Amount paid: " + totalAmount);
            });
        },
        onCancel: function (data) {
            // buyer cancelled payment
            alert('Payment cancelled by the buyer')
        },
        onError: function (error) {
            // error that prevents buyer from doing the checkout
            alert('Something wrong happend')
        }
    }).render("#paypal-button-container");

</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>

</body>
</html>