<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Error - Market Cruiser Admin')">

</head>
<body>
<div class="container-fluid">
    <div th:replace="fragment_navigation :: menu">

    </div>
    <div class="m-3">
        <h2>Sorry, the server has encountered an error while processing your request</h2>
    </div>

    <div class="text-center">
        <p>Market Cruiser Control Panel - Copyright &copy; Market Cruiser</p>
    </div>
</div>
</body>
</html>