<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div id="trackList">
        <th:block th:each="track, status : ${order.orderTracks}">
            <div class="border-green rounded p-1" th:id="'rowTrack' + ${status.count}"
                 th:with="isTrackWithStatusNew = ${track.status.toString() == 'NEW'}">

                <input type="hidden" name="trackId" th:value="${track.orderTrackId}" class="hiddenTrackId" />

                <div class="row">
                    <div class="col-3" style="margin-left: 30px">
                        <br>
                        <div class="divCountTrack" style="color: white">[[${status.count}]].</div>
                        <br>
                    </div>

                    <div class="col-10">
                        <div class="form-group row" style="margin-left: 20px">
                            <label class="col-sm-2 col-form-label text-white">Time:</label>
                            <div class="col-sm-10">

                                <input type="datetime-local" name="trackDate" th:value="${track.updatedTimeOnForm}"
                                       class="form-control"
                                       th:readonly="${isTrackWithStatusNew}"
                                       th:required="${!isTrackWithStatusNew}"
                                       style="max-width: 300px"/>
                            </div>
                        </div>

                        <div class="form-group row" style="margin-left: 20px">
                            <label class="col-sm-2 col-form-label text-white">Status:</label>
                            <div class="col-sm-10">
                                <th:block th:if="${isTrackWithStatusNew}">
                                    <input type="hidden" name="trackStatus" value="NEW" />
                                </th:block>
                                <select name="trackStatus" class="form-control dropDownStatus" required style="max-width: 150px"
                                        th:rowNumber="${status.count}"
                                        th:disabled="${isTrackWithStatusNew}"
                                        th:id="${isTrackWithStatusNew ? 'trackStatusOptions' : ''}">

                                    <th:block th:each="os : ${T(com.marketcruiser.common.entity.order.OrderStatus).values()}">
                                        <option	th:value="${os}" th:text="${os}" th:selected="${os == track.status}"
                                                   th:defaultDescription="${os.defaultDescription}" />
                                    </th:block>

                                </select>
                            </div>
                        </div>

                        <div class="form-group row" style="margin-left: 20px">
                            <label class="col-sm-2 col-form-label text-white">Notes:</label>
                            <div class="col-sm-10">
						<textarea rows="2" cols="10" class="form-control" name="trackNotes" style="max-width: 300px"
                                  th:id="'trackNote' + ${status.count}"
                                  th:readonly="${isTrackWithStatusNew}" required>[[${track.notes}]]</textarea>
                            </div>
                        </div>

                        <div>
                            <th:block th:if="${!isTrackWithStatusNew}">
                                <div class="mt-1" style="margin-left: 30px">
                                    <a class="a-icon-lightgreen fas fa-trash icon-red fa-2x linkRemoveTrack" href="" th:rowNumber="${status.count}"></a>
                                </div>
                                <br>
                            </th:block>
                        </div>

                    </div>
                </div>

            </div>
            <div th:id="'emptyLine' + ${status.count}" class="row">&nbsp;</div>
        </th:block>
    </div>

    <button id="linkAddTrack" class="btn btn-outline-green">Add Track Record</button>
</div>