<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content" remove="tag">
        <div class="m-2">
            <label style="color: white">Short Description:</label>
            <div th:utext="${product.shortDescription}" class="border p-2 m-2 text-white"></div>
        </div>

        <div class="m-2">
            <label style="color: white">Full Description:</label>
            <div th:utext="${product.fullDescription}" class="border p-2 m-2 text-white"></div>
        </div>
    </div>
</body>
</html>