<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Products - Market Cruiser Admin', 'none')">
</head>
<body>
<div class="container-fluid">

    <div th:replace="fragment_navigation :: menu"></div>

    <br/>
    <div>
        <h2>Manage Products</h2>
        <br/>
        <a th:href="@{/products/new}" class="a-icon-darkgreen fas fa-folder-plus fa-2x icon-darkblue" title="Create New Product"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href="@{/products/export/csv}" class="a-icon-darkgreen fas fa-file-csv fa-2x icon-darkblue" title="Export to CSV"></a>
    </div>

    <div>
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <form th:action="@{/products/page/1}" class="form-inline m-3" id="searchForm">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />

            Category:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select class="search-cat" name="categoryId" id="dropdownCategory">
                <option value="0">All Categories</option>

                <th:block th:each="cat : ${listCategories}">
                <option th:value="${cat.categoryId}" th:selected="(${categoryId} == ${cat.categoryId})">[[${cat.name}]]</option>
                </th:block>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="search">
                <input type="search" name="keyword" th:value="${keyword}" class="search-box" required />
                <span class="search-button">
                    <span class="search-icon"></span>
                </span>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Clear" class="btn btn-grey" onclick="clearFilter()" />
        </form>
    </div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="tbl-header">
                <tr>
                    <th th:replace="fragments :: column_link('/products', 'productId', 'Product ID')"></th>

                    <th class="text-center" style="text-align: center; vertical-align: middle; color: black; font-weight: bold">
                        Main Image
                    </th>

                    <th th:replace="fragments :: column_link('/products', 'name', 'Product Name')"></th>

                    <th th:replace="fragments :: column_link('/products', 'brand', 'Brand')"></th>

                    <th th:replace="fragments :: column_link('/products', 'category', 'Category')"></th>

                    <th class="text-center" style="text-align: center; vertical-align: middle; color: black; font-weight: bold">
                        Enabled
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product: ${listProducts}">
                    <td style="text-align: center; vertical-align: middle">[[${product.productId}]]</td>

                    <td style="text-align: center; vertical-align: middle">
                        <img th:src="@{${product.mainImagePath}}" style="width: 66px" class="img-fluid"/>
                    </td>

                    <td style="text-align: center; vertical-align: middle">
                        <a class="a-sorting text-black link-detail"
                            th:href="@{'/products/detail/' + ${product.productId}}"
                            th:title="${product.name}">
                            [[${product.shortName}]]
                        </a>
                    </td>

                    <td style="text-align: center; vertical-align: middle">[[${product.brand.name}]]</td>

                    <td style="text-align: center; vertical-align: middle">[[${product.category.name}]]</td>

                    <td style="text-align: center; vertical-align: middle">
                        <div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.productId})"></div>
                    </td>

                    <td style="text-align: center; vertical-align: middle">
                        <a class="a-icon-darkblue fas fa-file-alt fa-2x icon-green link-detail"
                            th:href="@{'/products/detail/' + ${product.productId}}"
                            title="View Details of This Product"></a>
                        &nbsp;&nbsp;
                        <div th:replace="fragments :: edit('product', '/products/edit/' + ${product.productId})"></div>
                        &nbsp;&nbsp;
                        <div th:replace="fragments :: delete('product', ${product.productId}, '/products/delete/' + ${product.productId}, true)"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments :: pagination('/products', 'products')"></div>

    <div th:replace="fragments_modal :: confirm_modal"></div>

    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background: -webkit-linear-gradient(left, #4169e1, #FFE5B4); background: linear-gradient(to right, #4169e1, #7188D6 25%, #A0A7CB 55%, #B8B7C6 70%, #D0C6C0 90% ,#FFE5B4 100%);">

            </div>
        </div>
    </div>

    <br>
    <br>

    <div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/products}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'product');
        });

        $(".link-detail").on("click", function (e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
        });

        $("#dropdownCategory").on("change", function () {
           $("#searchForm").submit();
        });

    });

</script>
</body>
</html>