
/* icons */

*.icon-green {
    color:green
}

*.icon-dark {
    color:gray
}

*.icon-darkblue {
    color: #104c52;
}

*.icon-red {
    color: red
}

*.badge-blue {
    color: black;
    background-color: #48dbe8;
}

/* text */

*.text-black {
    color: black
}

*.text-white {
    color: white;
}

/* a */

a.a-sorting:link {
    transition: all 0.3s ease;
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a.a-sorting:hover {
    transform: scale(1.2);
    color: #104c52;
    background-color: transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

a.a-icon-darkblue {
    transition: all 0.3s ease;
}

a.a-icon-darkblue:hover {
    transform: scale(1.5);
    color: #104c52;
}

a.a-icon-darkgreen {
    transition: all 0.3s ease;
}

a.a-icon-darkgreen:hover {
    transform: scale(1.5);
    color: #0d402a;
}

/* buttons */

.btn {
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
    background-size: 400% 400%;
    color: #FFF;
    border: 0;
    padding: 8px 20px;
    font-size: 13px;
    animation: Gradient 10s ease infinite;
}
.btn:hover {
    transform: scale(1.2);
    background-size: 150% 150%;
    font-weight: bold;
}

*.btn-blue {
    background: linear-gradient(-45deg, #104c52, #104c52, #27bdcc);
}

*.btn-grey {
    background: linear-gradient(-45deg, #b3b3b3, #737373, #454545);
}

*.btn-red {
    background: linear-gradient(-45deg, #fc7c7c, #fc0000, #ad0000);
}

/* lists */

li.li-green {
    transition: all 0.3s ease;
    color: green;
}

li.li-green:hover {
    transform: scale(1.5);
    color: green;
    font-size: 11px;
    font-weight: bold;
    background-color: #25c481;
    padding: 5px;
}




@media screen and (max-width: 768px){
    /* small screen */
    div.full-details {
        display: none;
    }
    div.less-details {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    /* medium screen */
    div.full-details {
        display: block;
    }
    div.less-details {
        display: none;
    }
}

@media screen and (min-width: 1024px){
    /* big screen */
    div.less-details {
        display: none;
    }
}