
/* icons */

*.icon-dark {color:gray}

*.icon-lightgreen {color: #1deba8;}

*.icon-orange {color: #d79e12}

*.icon-red {color: #800000;}

*.badge-green {
    color: black;
    background-color: #1deba8;
}

/* text */

*.text-black {color: black}

*.text-white {color: white;}

*.text-lightgreen {color: #1deba8;}

*.text-darkgreen {color: #0c9669;}

*.text-orange {color: #d79e12}

/*background*/

.bg-transparent {
    background-color: transparent;
    color: #FFFFFF;
    border: solid 1px #1deba8;
}

.bg-transparent .card-header {
    border-bottom: solid 1px #1deba8;
}

/*borders*/

.border-lightgreen {
    border: 1px solid #1deba8 !important;
}

/* a */

a.a-black-to-lightgreen:link {
    transition: all 0.3s ease;
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

a.a-black-to-lightgreen:hover {
    transform: scale(1.2);
    color: #1deba8;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

a.a-lightgreen-to-white:link {
    transition: all 0.3s ease;
    color: #1deba8;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

a.a-lightgreen-to-white:hover {
    transform: scale(1.2);
    color: #FFE5B4;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

a.a-orange-to-lightgreen:link {
    transition: all 0.3s ease;
    color: #d79e12;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

a.a-orange-to-lightgreen:hover {
    transform: scale(1.2);
    color: #1deba8;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

a.a-icon-lightgreen {transition: all 0.3s ease;}

a.a-icon-lightgreen:hover {color: #097853;}

a.a-icon-orange {transition: all 0.3s ease;}

a.a-icon-orange:hover {color: #d79e12;}

/* buttons */

.btn {
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
    background-size: 400% 400%;
    color: #FFF;
    border: 0;
    padding: 8px 20px;
    font-size: 13px;
    animation: Gradient 10s ease infinite;
}
.btn:hover {
    transform: scale(1.1);
    background-size: 150% 150%;
    font-weight: bold;
}

*.btn-outline-green {
    border: 3px solid #10bc84;
    color: #1deba8;
    font-weight: 700;
}

*.btn-outline-green:hover {
    background-color: #1deba8;
    color: #302c54;
    border: 3px solid #1deba8;
}

*.btn-outline-orange {
    border: 3px solid #d79e12;
    color: #d79e12;
    font-weight: 700;
}

*.btn-outline-orange:hover {
    background-color: #d79e12;
    color: #302c54;
    border: 3px solid #d79e12;
}

/*management*/

.center-div {
    margin: auto;
    width: 50%;
}

.form-relative {
    position: relative;
    display: inline-block;
    margin: 15px 0;
}

.text-align-center {
    text-align: center;
}

.vertical-align-middle {
    vertical-align: middle;
}



/*pagination*/

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item:first-child .page-link {
    padding: 0;
    width: 40px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.page-item:last-child .page-link {
    padding: 0;
    width: 40px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.page-link {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
}

.page-link:hover {
    z-index: 2;
    color: white;
    text-decoration: none;
    background-color: #1deba8;
    border-color: #0c9669;
}

.page-item.active .page-link {
    z-index: 1;
    color: white;
    background-color: #0c9669;
    border-color: #0c9669;
}

.page-item.disabled .page-link {
    color: #086949;
    pointer-events: none;
    cursor: auto;
    background-color: transparent;
    border-color: transparent;
}

/*modals*/

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #1deba8 !important;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #1deba8;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

@media screen and (max-width: 768px){
    /* small screen */
    div.full-details {
        display: none;
    }
    div.less-details {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    /* medium screen */
    div.full-details {
        display: block;
    }
    div.less-details {
        display: none;
    }
}

@media screen and (min-width: 1024px){
    /* big screen */
    div.less-details {
        display: none;
    }
}