<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')">

</head>
<body>
<div class="container-fluid">
    <div th:replace="fragment_navigation :: header_menu"></div>
    <br>

    <div>
        <h1>[[${pageTitle}]]</h1>
    </div>
    <br>

    <div th:replace="fragment_navigation :: search_nav"></div>
    <br>
    <div th:replace="fragment_breadcrumb :: content"></div>
    <br>

    <div class="full-details">
        <div class="row">
            <th:block th:each="product : ${listProducts}">
            <div th:replace="products/fragment_product_info :: content"></div>
            </th:block>
        </div>
    </div>

    <div class="less-details">
        <div class="row">
            <th:block th:each="product, iterStat : ${listProducts}" th:if="${iterStat.index % 2 == 0}">
                <div th:replace="products/fragment_product_info :: content_small_screens"></div>
            </th:block>
        </div>
    </div>

    <br>

    <div th:replace="fragments :: pagination('/c/' + ${category.alias}, 'product')"></div>


    <br>
    <br>
    <div th:replace="fragment_navigation :: footer_menu"></div>

</div>

<script th:src="@{/js/common.js}"></script>
</body>
</html>