<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Reset Password', 'none')">

</head>
<body>
<div class="container-fluid text-center">
    <div th:replace="fragment_navigation :: header_menu"></div>
    <br>

    <div>
        <h1>Reset Your Password</h1>
    </div>
    <br>

    <form th:action="@{/reset-password}" method="post" style="max-width: 420px; margin: 0 auto">
        <input type="hidden" th:value="${token}" name="token"/>
        <div class="border border-secondary rounded p-3">
            <div>
                <p>
                    <input type="password" name="password" id="password" placeholder="Enter your new password"
                        class="form-control" oninput="checkPasswordMatch(this)"
                        minlength="8" maxlength="30" required="required" autofocus="autofocus"/>
                </p>
            </div>

            <div>
                <p>
                    <input type="password" placeholder="Confirm your new password"
                           class="form-control"
                           minlength="8" maxlength="30" required="required" />
                </p>
            </div>

            <div>
                <input type="submit" value="Change Password" class="btn btn-outline" />
            </div>
        </div>
    </form>

    <br>
    <br>
    <div th:replace="fragment_navigation :: footer_menu"></div>

</div>

<script type="text/javascript">

    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value != $("#password").val()) {
            confirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }

</script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>