<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Your Account Details</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

</head>
<body>
<div class="container-fluid">
    <div>
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <input type="submit" />
        </form>
        <nav class="menu">
            <ol>
                <li class="menu-item active">
                    <a th:href="@{/}">Home</a>
                </li>

                <li class="menu-item">
                    <a href="#0">Menu</a>
                    <ol class="sub-menu">

                        <th:block sec:authorize="hasAuthority('Admin')">
                            <li class="menu-item">
                                <a th:href="@{/users}">Users</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <li class="menu-item">
                                <a th:href="@{/categories}">Categories</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <li class="menu-item">
                                <a th:href="@{/brands}">Brands</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
                            <li class="menu-item">
                                <a th:href="@{/products}">Products</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                            <li class="menu-item">
                                <a th:href="@{/customers}">Customers</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                            <li class="menu-item">
                                <a th:href="@{/shipping}">Shipping</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
                            <li class="menu-item">
                                <a th:href="@{/orders}">Orders</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                            <li class="menu-item">
                                <a th:href="@{/report}">Sales Report</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <li class="menu-item">
                                <a th:href="@{/articles}">Articles</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <li class="menu-item">
                                <a th:href="@{/menus}">Menus</a>
                            </li>
                        </th:block>

                    </ol>
                </li>

                <li class="menu-item">
                    <a th:href="@{/settings}">Settings</a>
                </li>

                <li class="menu-item">
                    <a href="#0">Account</a>
                    <ol class="sub-menu">
                        <li class="menu-item">
                            <a th:href="@{/account}">Account</a>
                        </li>
                        <li class="menu-item">
                            <a id="logoutLink" href="">Logout</a>
                        </li>
                    </ol>
                </li>

            </ol>
        </nav>
    </div>
    <br/>

    <form th:action="@{/account/update}" method="post" style="max-width: 700px; margin: 0 auto"
          enctype="multipart/form-data"
          th:object="${user}">
        <input type="hidden" th:field="*{userId}"/>
        <div class="text-center">
            <h1>Your Account Details</h1>
        </div>
        <br>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

    <div class="border border-round-secondary rounded p-3">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">E-Mail:</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" th:field="*{emailAddress}" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">First Name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">Last Name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">Password:</label>
            <div class="col-sm-8">
                <input type="password" th:field="*{password}" class="form-control"
                       placeholder="Leave blank if you don't want to change password"
                       minlength="8" maxlength="45"
                       oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">Confirm Password:</label>
            <div class="col-sm-8">
                <input type="password" id="confirmPassword" class="form-control"
                       minlength="8" maxlength="45"
                       oninput="checkPasswordMatch(this)" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">Assigned Roles:</label>
            <div class="col-sm-8">
                <span style="color: #1deba8"><b>[[${user.roles}]]</b></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">Photos:</label>
            <div class="col-sm-8">
                <input type="hidden" th:field="*{photo}" />
                <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg"
                class="mb-2" />
                <img id="thumbnail" alt="Photos Preview" th:src="@{${user.photosImagePath}}"
                class="img-fluid" />
            </div>
        </div>

        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-outline-green m-3"/>
            <input type="button" value="Cancel" class="btn btn-outline-orange" id="buttonCancel" />
        </div>
    </div>
    </form>

    <br>
    <br>

    <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript">
    moduleURL = "[[@{/}]]";

    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value != $("#password").val()) {
            confirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }

</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>