<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Your Account Details</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <style>
        .navbar-custom {
            background-color: lightgreen;
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link,
        .navbar-custom {
            color: green;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div>
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <input type="submit" />
        </form>
        <nav class="navbar navbar-expand-lg navbar-custom navbar-light">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/MarketCruiser.png}" alt="logo" style="width: 80px; height: 40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                    </li>
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/report}">Sales Report</a>
                    </li>
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>
                    <li class="li-green nav-item">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <span class="fas fa-user fa-2x icon-green"></span>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/account}" sec:authentication="principal.fullName"></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br/>

    <form th:action="@{/account/update}" method="post" style="max-width: 700px; margin: 0 auto"
          enctype="multipart/form-data"
          th:object="${user}">
        <input type="hidden" th:field="*{userId}"/>
        <div class="text-center">
            <h2>Your Account Details</h2>
        </div>
        <br>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

    <div class="border border-round-secondary rounded p-3">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">E-Mail:</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" th:field="*{emailAddress}" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">First Name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Last Name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Password:</label>
            <div class="col-sm-8">
                <input type="password" th:field="*{password}" class="form-control"
                       placeholder="Leave blank if you don't want to change password"
                       minlength="8" maxlength="45"
                       oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Confirm Password:</label>
            <div class="col-sm-8">
                <input type="password" id="confirmPassword" class="form-control"
                       minlength="8" maxlength="45"
                       oninput="checkPasswordMatch(this)" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Assigned Roles:</label>
            <div class="col-sm-8">
                <span><b>[[${user.roles}]]</b></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Photos:</label>
            <div class="col-sm-8">
                <input type="hidden" th:field="*{photo}" />
                <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg"
                class="mb-2" />
                <img id="thumbnail" alt="Photos Preview" th:src="@{${user.photosImagePath}}"
                class="img-fluid" />
            </div>
        </div>

        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-orange m-3"/>
            <input type="button" value="Cancel" class="btn btn-grey" id="buttonCancel" />
        </div>
    </div>
    </form>

    <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript">
    moduleURL = "[[@{/}]]";

    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value != $("#password").val()) {
            confirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }

</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>