<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Market Cruiser Admin', 'none')">
</head>
<body>
<div class="container-fluid">

    <div th:replace="fragment_navigation :: menu"></div>

    <br/>
    <div>
        <h1>Manage Users</h1>
        <a th:href="@{/users/new}" class="a-icon-lightgreen fa-solid fa-person-circle-plus fa-2x icon-lightgreen" title="Create New User"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href="@{/users/export/csv}" class="a-icon-lightgreen fas fa-file-csv fa-2x icon-lightgreen" title="Export to CSV"></a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/excel}" class="a-icon-lightgreen fas fa-file-excel fa-2x icon-lightgreen" title="Export to Excel"></a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/pdf}" class="a-icon-lightgreen fas fa-file-pdf fa-2x icon-lightgreen" title="Export to PDF"></a>
    </div>
    <br>

    <div th:replace="fragments :: search_form_and_message"></div>
    <br>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="tbl-header">
                <tr>
                    <th th:replace="fragments :: column_link('userId', 'User ID')"></th>

                    <th class="text-center" style="text-align: center; vertical-align: middle; color: black; font-weight: bold">
                        Photos
                    </th>

                    <th th:replace="fragments :: column_link('emailAddress', 'Email Address')"></th>

                    <th th:replace="fragments :: column_link('firstName', 'First Name')"></th>

                    <th th:replace="fragments :: column_link('lastName', 'Last Name')"></th>

                    <th class="text-center" style="text-align: center; vertical-align: middle; color: black; font-weight: bold">
                        Roles
                    </th>

                    <th th:replace="fragments :: column_link('enabled', 'Enabled')"></th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${listUsers}">
                    <td style="text-align: center; vertical-align: middle">[[${user.userId}]]</td>
                    <td style="text-align: center; vertical-align: middle">
                        <span th:if="${user.photo == null}" class="fas fa-portrait fa-3x icon-lightgreen"></span>
                        <img th:if="${user.photo != null}" th:src="@{${user.photosImagePath}}" style="width: 66px" />
                    </td>
                    <td style="text-align: center; vertical-align: middle">[[${user.emailAddress}]]</td>
                    <td style="text-align: center; vertical-align: middle">[[${user.firstName}]]</td>
                    <td style="text-align: center; vertical-align: middle">[[${user.lastName}]]</td>
                    <td style="text-align: center; vertical-align: middle">[[${user.roles}]]</td>
                    <td style="text-align: center; vertical-align: middle">
                        <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.userId})"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.userId})"></div>
                        &nbsp;&nbsp;
                        <div th:replace="fragments :: delete('user', ${user.userId}, '/users/delete/' + ${user.userId}, true)"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>

    </div>

    <div class="less-details">
        <div th:each="user: ${listUsers}" class="row m-1">
            <div class="col-4">
                <span th:if="${user.photo == null}" class="fas fa-portrait fa-3x icon-lightgreen"></span>
                <img th:if="${user.photo != null}" th:src="@{${user.photosImagePath}}" style="width: 66px" />
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.userId})"></div>
                    &nbsp;
                    <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.userId})"></div>
                    &nbsp;&nbsp;
                    <div th:replace="fragments :: delete('user', ${user.userId}, '/users/delete/' + ${user.userId}, true)"></div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div th:replace="fragments :: pagination('users')"></div>

    <div th:replace="fragments_modal :: confirm_modal"></div>

    <br>
    <br>

    <div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/users}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
           // alert($(this).attr("href"));
            userIdNew = link.attr("userIdNew");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete this user with ID " + userIdNew + "?");
            $("#confirmModal").modal();
        });
    });

</script>
</body>
</html>