<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')">

</head>
<body>
<div class="container-fluid">
    <div th:replace="fragment_navigation :: menu">

    </div>
    <br/>
    <div class="text-center">
        <h1>Manage Users | [[${pageTitle}]]</h1>
    </div>
    <br/>

    <form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto"
          enctype="multipart/form-data"
          th:object="${user}" onsubmit="return checkEmailAddressUnique(this)">
        <input type="hidden" th:field="*{userId}"/>
        <input type="hidden" id="enabled" th:field="*{enabled}">
    <div class="border border-round-secondary rounded p-3">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">E-Mail:</label>
            <div class="col-sm-8 center-div">
                <input type="email" class="form-control" th:field="*{emailAddress}" required minlength="8" maxlength="128" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">First Name:</label>
            <div class="col-sm-8 center-div">
                <input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">Last Name:</label>
            <div class="col-sm-8 center-div">
                <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">Password:</label>
            <div class="col-sm-8 center-div">
                <input th:if="${user.userId == null}" type="password" class="form-control"
                       th:field="*{password}" required minlength="8" maxlength="45" />
                <input th:if="${user.userId != null}" type="password" class="form-control"
                       th:field="*{password}" minlength="8" maxlength="45" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">Roles:</label>
            <div class="col-sm-8 center-div">
                <th:block th:each="role: ${listRoles}">
                <span style="color: #1deba8">
                <input type="checkbox" th:field="*{roles}"
                       th:text="${role.name}"
                       th:value="${role.roleId}"
                       class="m-2"
                />
                    - <small style="color: #0c9669">[[${role.description}]]</small>
                    <br/>
                    </span>
                </th:block>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label checkbox-label text-white">Enabled:</label>
            <div class="box">
                <input type="checkbox" id="checkbox" class="checkbox-input"
                       th:checked="${user.enabled}" onclick="updateEnabledField()" />
                <label for="checkbox">
                    <span class="checkbox">
                    </span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-white">Photos:</label>
            <div class="col-sm-8 center-div">
                <input type="hidden" th:field="*{photo}" />
                <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg"
                class="mb-2" />
                <img id="thumbnail" alt="Photos Preview" th:src="@{${user.photosImagePath}}"
                class="img-fluid" />
            </div>
        </div>

        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-outline-green m-3"/>
            <input type="button" value="Cancel" class="btn btn-outline-orange" id="buttonCancel" />
        </div>
    </div>
    </form>

    <div th:replace="fragments_modal :: modal_dialog"></div>

    <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript">
    moduleURL = "[[@{/users}]]";

    function checkEmailAddressUnique(form) {
        url = "[[@{/users/check-email}]]";
        userEmailAddress = $("#emailAddress").val();
        userIdNew = $('#userId').val();
        csrfValue = $("input[name = '_csrf']").val();

        params = {userId: userIdNew, emailAddress: userEmailAddress, _csrf: csrfValue};

        $.post(url, params, function(response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "Duplicated") {
                showWarningModal("There is another user having the email: " + userEmailAddress);
            } else {
                showErrorModal("Unknown response from server");
            }
        }).fail(function () {
            showErrorModal("Could not connect to the server");
        });

        return false;
    }



</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>