<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="menu">
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <input type="submit" />
        </form>
        <nav class="menu">
            <ol>
                <li class="menu-item active">
                    <a th:href="@{/}">Home</a>
                </li>

                <li class="menu-item">
                    <a href="#0">Menu</a>
                    <ol class="sub-menu">

                        <th:block sec:authorize="hasAuthority('Admin')">
                            <li class="menu-item">
                                <a th:href="@{/users}">Users</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <li class="menu-item">
                                <a th:href="@{/categories}">Categories</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <li class="menu-item">
                                <a th:href="@{/brands}">Brands</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
                            <li class="menu-item">
                                <a th:href="@{/products}">Products</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                            <li class="menu-item">
                                <a th:href="@{/customers}">Customers</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                            <li class="menu-item">
                                <a th:href="@{/shipping}">Shipping</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
                            <li class="menu-item">
                                <a th:href="@{/orders}">Orders</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                            <li class="menu-item">
                                <a th:href="@{/report}">Sales Report</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <li class="menu-item">
                                <a th:href="@{/articles}">Articles</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <li class="menu-item">
                                <a th:href="@{/menus}">Menus</a>
                            </li>
                        </th:block>

                    </ol>
                </li>

                <li class="menu-item">
                    <a th:href="@{/settings}">Settings</a>
                </li>

                <li class="menu-item">
                    <a href="#0">Account</a>
                    <ol class="sub-menu">
                            <li class="menu-item">
                                <a th:href="@{/account}">Account</a>
                            </li>
                            <li class="menu-item">
                                <a id="logoutLink" href="">Logout</a>
                            </li>
                    </ol>
                </li>

            </ol>
        </nav>
    </div>
</body>
</html>