<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content" style="background: #302c54">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle" style="color: #1deba8">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal" style="color: #1deba8">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-red" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="confirm_modal" class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content" style="background: #302c54">
                <div class="modal-header">
                    <h4 class="modal-title" style="color: #1deba8">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" style="color: #1deba8">&times;</button>
                </div>

                <div class="modal-body" style="color: #1deba8">
                    <span id="confirmText"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-outline-red" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-outline-green" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>