<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Market Cruiser Admin')">

</head>
<body>
<div class="container-fluid">
    <div th:replace="fragment_navigation :: menu">

    </div>
    <div>
        <h1>Market Cruiser Control Panel</h1>
    </div>

    <div class="text-center">
        <p>Market Cruiser Control Panel - Copyright &copy; Market Cruiser</p>
    </div>
</div>
</body>
</html>