<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - Market Cruiser Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <style>
        .btn-orange {
            transition: all 0.3s linear;
            color: black;
            background-color: darkorange;
        }

        .btn-orange:hover {
            transform: scale(1.2);
            color: black;
            background-color: darkorange;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container-fluid text-center">
    <br>
    <div>
        <img th:src="@{/images/MarketCruiser.png}" style="width: 450px; height: 225px"/>
    </div>
    <br>

    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out.</p>
        </div>

        <div class="border border-secondary rounded p-3">
            <p>Access to Market Cruiser Control Panel</p>
            <p>
                <input type="email" name="emailAddress" class="form-control" placeholder="Email Address" required />
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="checkbox" name="remember-me" />&nbsp;Remember me
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-orange" />
            </p>
        </div>
    </form>

    <br>
    <div>
        <p>Market Cruiser Control Panel - Copyright &copy; Market Cruiser</p>
    </div>
</div>
</body>
</html>