@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

.clean-slide {
    position: relative;
    display: inline-block;
    width: 400px;
    padding: 10px 0 10px 90px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 60px;
    transition: all .3s ease-in-out;
}
.clean-slide::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}
.clean-slide + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: auto;
    bottom: -8px;
    padding: 15px 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #032429;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    transition: all .3s ease-in-out, color .3s ease-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
}
.clean-slide + label:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    background: #0c9669;
    z-index: -1;
    transform: translate(0);
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.clean-slide:focus,
.clean-slide:active {
    color: #377D6A;
    text-indent: 0;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.clean-slide:focus::-webkit-input-placeholder,
.clean-slide:active::-webkit-input-placeholder {
    color: #aaa;
}
.clean-slide:focus + label,
.clean-slide:active + label {
    color: #fff;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    transform: translateX(-100%);
}
.clean-slide:focus + label:after,
.clean-slide:active + label:after {
    transform: translate(100%);
}

@media (max-width: 576px) {
    .clean-slide {
        width: 100%;
    }
    .form-group.row label[for] {
        position: absolute;
        left: 15px;
        top: 12px;
        font-size: 12px;
        padding: 2px 5px;
        padding-left: 30px;
        padding-right: 30px;
    }
}