
/* icons */

*.icon-green {
    color:green
}

*.icon-dark {
    color:gray
}

*.icon-orange {
    color: darkorange;
}

*.icon-red {
    color: red
}

/* text */

*.text-black {
    color: black
}

/* a */

a.a-sorting:link {
    transition: all 0.3s linear;
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a.a-sorting:hover {
    transform: scale(1.5);
    color: green;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
}

a.a-icon-sandybrown {
    transition: all 0.3s linear;
}

a.a-icon-sandybrown:hover {
    transform: scale(1.5);
    color: sandybrown;
}

a.a-icon-lightgreen {
    transition: all 0.3s linear;
}

a.a-icon-lightgreen:hover {
    transform: scale(1.5);
    color: lightgreen;
}

/* span */

span.span-icon-orange {
    transition: all 0.3s linear;
}

span.span-icon-orange:hover {
    transform: scale(1.5);
    color: darkorange;
}

/* buttons */

*.btn-orange {
    transition: all 0.3s linear;
    color: black;
    background-color: darkorange;
}

*.btn-orange:hover {
    transform: scale(1.2);
    color: black;
    background-color: darkorange;
    font-weight: bold;
}

*.btn-grey {
    transition: all 0.3s linear;
    color: white;
    background-color: dimgrey;
}

*.btn-grey:hover {
    transform: scale(1.2);
    color: white;
    background-color: dimgray;
    font-weight: bold;
}

*.btn-red {
    transition: all 0.3s linear;
    color: black;
    background-color: red;
}

*.btn-red:hover {
    transform: scale(1.2);
    color: black;
    background-color: red;
    font-weight: bold;
}

*.btn-lightgreen {
    color: darkgreen;
    background-color: lightgreen;
}

*.btn-lightgreen:hover {
    color: darkgreen;
    background-color: lightgreen;
    font-weight: bold;
}

/* lists */

li.li-green {
    transition: all 0.3s linear;
    color: green;
}

li.li-green:hover {
    transform: scale(1.5);
    color: green;
    font-size: 11px;
    font-weight: bold;
    background-color: lightgreen;
    padding: 5px;
}




@media screen and (max-width: 768px){
    /* small screen */
    div.full-details {
        display: none;
    }
    div.less-details {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    /* medium screen */
    div.full-details {
        display: block;
    }
    div.less-details {
        display: none;
    }
}

@media screen and (min-width: 1024px){
    /* big screen */
    div.less-details {
        display: none;
    }
}